#!/usr/bin/env bash

## Initial deploy
# mix edeliver build release
# mix edeliver deploy release production

## Automatic upgrade deploy
# mix edeliver upgrade production

## Manual upgrade deploy
# mix edeliver build upgrade --with=previous-version-name
# mix edeliver deploy upgrade production

APP="flambo" # name of your release
AUTO_VERSION=git-revision
START_DEPLOY=true

RELEASE_STORE="user@release.host:path"

BUILD_HOST="build.flambo.com" # host where to build the release
BUILD_USER="flambo" # local user at build host
BUILD_AT="/tmp/builds/flambo" # build directory on build host

PRODUCTION_HOSTS="flambo.com" # deploy / production hosts separated by space
PRODUCTION_USER="flambo" # local user at deploy hosts
DELIVER_TO="/home/flambo" # deploy directory on production hosts

# Hook to copy secrets
pre_erlang_get_and_update_deps() {
  # copy it from the local machine to the build host when builing
  local _local_secret_config_file="config/prod.secret.exs"
  if [ "$TARGET_MIX_ENV" = "prod" ]; then
    status "Copying '$_local_secret_config_file' file to build host"
    scp "$_local_secret_config_file" "$BUILD_USER@$BUILD_HOST:$BUILD_AT/config/prod.secret.exs"
  fi
}
